{% extends 'base.html' %}

{% block content %}
<h2>새 포스트 작성</h2>
<form action="">
    <div class="form-group">
        <label for="id-title">제목</label>
        <input id="id-title" type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="id-text">내용</label>
        <textarea name="text" id="id-text" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit">작성</button>
</form>
{% endblock %}